.result-box {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 100px;

  color: rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  min-height: 0px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow: hidden;
  height: 60vh;
  


}