.textarea {
  width: 60%;
  margin-bottom: 0px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  resize: none;
  font-family: Arial, sans-serif;
  background-color: #2e2e2e;
  color: white;

}
