.app {
  margin: 2px;
  padding: 1px;
  font-family: Arial, sans-serif;
  text-align: center;
 color: white;
  
  /*border: 2px solid black;*/
}   
.body-part{

  display: flex;
  justify-content: space-between;
  
}

.app h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.textbtn {
  background-color: rgb(54, 53, 53);
  position: fixed;
  bottom: 0px;
  /* Slightly above the absolute bottom */
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}